:host{
  display: flex;
  justify-content: center;

  .landing-block {
    position: relative;
    width: fit-content;
    text-align: center;
  }

  .landing-links {
    width: 100%;
    text-align: center;
  }

  button {
    font-size: 2rem;
  }

}
