<div class="snap-card" [ngClass]="{ 'photo-likee': isPhotoLikee() }">
  <a routerLink="/photospartagees">Retour</a>
  <h2>{{ photoPartagee.title | titlecase }}</h2>
  <img [src]="photoPartagee.urlImage" [alt]="photoPartagee.title" />
  @if (photoPartagee.lieu) {
  <p>Lieu : <strong>{{ photoPartagee.lieu | uppercase }}</strong></p>
  } @else {
  <p>Aucun lieu spécifié</p>
  }
  <p>Mis en ligne le <strong>{{ photoPartagee.dateCreation | date: 'd MMMM y' }}</strong></p>
  <p>{{ photoPartagee.description }}</p>
  <p>
    <button (click)="onToggleReaction()">{{ textBouton }}</button>
    <span [ngStyle]="{ color: 'rgb(0, '+ photoPartagee.nbreReactions +', 0)'}"> 🍆 {{ photoPartagee.nbreReactions }} </span>
  </p>
</div>
